@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Arastin';
  src: url('/fonts/ArastinVol.1-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Palmore';
  src: url('/fonts/Palmore.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    @apply font-sans;
  }
}